

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;500;700;900&family=Roboto:wght@400;700&display=swap');

body {
    background: black;
    font-family: 'Roboto Mono', monospace;
    
}

.header_container {
    display: grid;
    grid-template-rows: 70px 60px;
    width: 1200px;
    margin: 0 auto;
    
}

.header_menu {
    display: flex;
    width: 100%;
    background-color: #48cfad;
    height: 80px;
    justify-content: flex-end;
    padding: 10px 50px;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

.header_hero img {
    width: 220px;
    height: 55px;
}

.header_hero {
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    align-items: center;
    background: white;
}

/* Inicio del Main */

.main_container {
    width: 1200px;
    height: 540px;
    background-image: url(/assets/img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.main_container h1{
    display: flex;
    font-size: 50px;
    color: white;
    text-align: center;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    padding-top: 15px ;
    letter-spacing: 10px;
    font-weight: 700;
    
}

.main_container_blog {
    background: white;
}

.main_container_articles {
    display: grid;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.main_blog_titulo {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
    border-bottom: 2px solid #e6e9ed;
    margin-bottom: 20px;
}

.blog-article {
    margin-bottom: 80px;
    position: relative;
    
}

.blog-article a {
    position: absolute;
    border: 1px solid #48cfad;
    padding: 5px;
    bottom: -50px;
    font-size: 12px;
}

.blog-article a:hover {
    background-color: #48cfad;
    color: white;
}

.blog-article img {
    width: 250px;
    height: 150px;
}

.menu_logo a {
    color: white;
}

.button {
    position: absolute;
    top: 280px;
    left: calc(50% - 55px);
    width: 110px;
    height: 40px;
    background: #48cfad;
    color:black;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
}

.main_container_perfil {
    width: 100%;
    height: 180px;
    background-color: #e6e9ed;
}

.main_container_proyectos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70px auto;
}

.main-container_general {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.main_container_proyectos {
    background-color: white;
    
    margin: 0 auto;
    width: 80%;
}
.main_container__proyectos {
    grid-column: 1 / 4;
    color: black;
    text-align: center;
    border-bottom: 3px solid #e6e9ed;
    line-height: 70px;
}

.main_container__text {
    padding: 15px 30px;
}

.main_container_perfil {
    width: 100%;
    height: 220px;
    padding: 20px 70px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 300px);
    justify-content: left;
    align-items: center;
}

.main_container_perfil_foto {
    width: 240px;
    height: 140px;
    margin: 10px 30px;
    background-image: url("/assets/img/profile-pic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: #adafb2;
}

.footer img {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.footer_left, .footer_right {
    display: flex;
    
}

.footer_blog {
    height: 25px;
    background: #48cfad;
}

.footer_left img, .footer_right img {
    margin: 15px;
}

.border {
    height: 20px;
    background-color: #48cfad;
}